body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: Arial;
}
#container{
    background-color: rgba(204, 141, 233, 0.486);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
#calculator{
    width: 70%;
    height: 75%;
 
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgb(243, 164, 239);
}
#display{
    width: 70%;
    height: 40px;
    border-radius: 30px;
    background-color: #fdfdfd;
    color: black;
    border: none;
    padding: 30px;
    font-size: 24px;
    text-align: right;
    height: 100hv;
    margin-top: 50px;
    margin-left: 50px;
    justify-content: center;
    border: solid 2px rgba(170, 169, 169, 0.185);
    font-size: 2rem;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: rgb(243, 243, 243);
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    cursor: pointer;
}
button.bg{
    background-color: rgba(245, 156, 223, 0.822);
}

button:hover{
    background-color: rgba(163, 163, 163, 0.39);
}
button.bg:hover{
    background-color: rgba(250, 125, 219, 0.822);
}

@media(max-width:450px) {
    body {
        height: 80vh;
    }
    #calculator {
        margin: 0;
        width: 90%;
        height: 450px;
        padding: 10px;
    }

    #display {
        width: 90%;
        padding: 5px;
        margin: 0;
        margin-left: 15px;
        margin-top: 25px;
        font-size: 20px;

    }

    #keys {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0;
        margin-left: 20px;
        padding: 10px;
        width: 90%;
    }

    button {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-top: 5px;
        font-size: 15px;

    }

}